<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidianbuhui.ccshop.dao.CarouselMapper">
    <resultMap id="CarouselResultMap" type="com.yidianbuhui.ccshop.entity.Carousel">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="carDesc" jdbcType="VARCHAR" property="cardesc"/>
        <result column="imgpath" jdbcType="VARCHAR" property="imgpath"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
    </resultMap>
    <sql id="Carousel_Column_List">
    id, carDesc, imgpath, createtime
  </sql>
    <select id="selectCarousel" parameterType="Integer" resultMap="CarouselResultMap">
        select
        <include refid="Carousel_Column_List" />
        from carousel
        where id = #{id,jdbcType=INTEGER}
    </select>

    <sql id="conditionsSql">
        <where>
            <if test="cardesc != null and cardesc != ''">
                AND cardesc LIKE CONCAT('%',#{cardesc,jdbcType=VARCHAR},'%')
            </if>
            <if test="categoryid != null and categoryid != ''">
                AND categoryid = #{categoryid,jdbcType=INTEGER}
            </if>
        </where>
    </sql>
    <select id="getCarouselList" parameterType="java.util.Map" resultMap="CarouselResultMap">
        SELECT <include refid="Carousel_Column_List" />
        FROM `carousel`
        <include refid="conditionsSql" />
    </select>
    <select id="getCount" parameterType="java.util.Map" resultType="Integer">
        select count(id)
        from `carousel`
        <include refid="conditionsSql" />
    </select>
</mapper>