<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtd.dao.GoodsMapper">
    <resultMap id="BaseResultMap" type="com.xtd.entity.Goods">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="typeid" jdbcType="INTEGER" property="typeid"/>
        <result column="imgpath" jdbcType="VARCHAR" property="imgpath"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="goodsDesc" jdbcType="VARCHAR" property="goodsdesc"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, typeid, imgpath, price, goodsDesc, createTime, state
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from goods
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.xtd.entity.Goods">
    insert into goods (id, name, typeid, 
      imgpath, price, goodsDesc, 
      createTime, state)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{typeid,jdbcType=INTEGER}, 
      #{imgpath,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{goodsdesc,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{state,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.xtd.entity.Goods">
        insert into goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="typeid != null">
                typeid,
            </if>
            <if test="imgpath != null">
                imgpath,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="goodsdesc != null">
                goodsDesc,
            </if>
            <if test="createtime != null">
                createTime,
            </if>
            <if test="state != null">
                state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="typeid != null">
                #{typeid,jdbcType=INTEGER},
            </if>
            <if test="imgpath != null">
                #{imgpath,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="goodsdesc != null">
                #{goodsdesc,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xtd.entity.Goods">
        update goods
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="typeid != null">
                typeid = #{typeid,jdbcType=INTEGER},
            </if>
            <if test="imgpath != null">
                imgpath = #{imgpath,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="goodsdesc != null">
                goodsDesc = #{goodsdesc,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createTime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xtd.entity.Goods">
    update goods
    set name = #{name,jdbcType=VARCHAR},
      typeid = #{typeid,jdbcType=INTEGER},
      imgpath = #{imgpath,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      goodsDesc = #{goodsdesc,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>