<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidianbuhui.ccshop.dao.GoodsTypeMapper">
    <resultMap id="GoodsTypeResultMap" type="com.yidianbuhui.ccshop.entity.GoodsType">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="typename" jdbcType="VARCHAR" property="typename"/>
    </resultMap>
    <sql id="GoodsType_Column_List">
    id, typename
  </sql>
    <select id="getGoodsType" parameterType="Integer" resultMap="GoodsTypeResultMap">
        select
        <include refid="GoodsType_Column_List" />
        from goods_type
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getGoodsTypeList" resultMap="GoodsTypeResultMap">
        select <include refid="GoodsType_Column_List" />
        from goods_type
    </select>

    <select id="getCount" parameterType="java.util.Map" resultType="Integer">
    select count(id)
    from goods_type
  </select>
</mapper>