<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidianbuhui.ccshop.dao.GoodsMapper">
    <resultMap id="GoodsResultMap" type="com.yidianbuhui.ccshop.entity.Goods">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="typeid" jdbcType="INTEGER" property="typeid"/>
        <result column="imgpath" jdbcType="VARCHAR" property="imgpath"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="goodsDesc" jdbcType="VARCHAR" property="goodsdesc"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
    </resultMap>
    <sql id="Goods_Column_List">
    id, name, typeid, imgpath, price, goodsDesc, createTime, state
  </sql>
    <select id="getGoods" resultMap="GoodsResultMap" parameterType="Integer" >
        select
        <include refid="Goods_Column_List" />
        from goods
        where id = #{id,jdbcType=INTEGER}
        order by createTime desc
    </select>
    <select id="getGoodsByType" resultMap="GoodsResultMap" parameterType="Integer" >
        select
        <include refid="Goods_Column_List" />
        from goods
        where typeid = #{typeid,jdbcType=INTEGER}
        order by createTime asc
    </select>
    <sql id="conditionsSql">
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="typeid != null and typeid != ''">
                AND typeid = #{typeid,jdbcType=INTEGER}
            </if>
        </where>
    </sql>
    <select id="getGoodsList" parameterType="java.util.Map" resultMap="GoodsResultMap">
        SELECT <include refid="Goods_Column_List" />
        FROM `goods`
        <include refid="conditionsSql" />
        <bind name="offset" value="pageSize*(pageNo-1)"/>
        LIMIT #{offset,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </select>
    <select id="getCount" parameterType="java.util.Map" resultType="Integer">
        select count(id)
        from `goods`
        <include refid="conditionsSql" />
    </select>
</mapper>